<div class="row-md-12">
  <mat-tab-group color="warn">
    <mat-tab label="Выбор">

      <br>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Выбор файла</mat-panel-title>
        </mat-expansion-panel-header>

        <table class="table table-hover table-sm">
          <thead>
          <tr>
            <th>Номер</th>
            <th>ID</th>
            <th>Имя</th>
            <th>Действие</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let f of filesInfo; index as i">
            <td>{{i}}</td>
            <td>{{f.id}}</td>
            <td>{{f.name}}</td>
            <td>
              <button class="example-btn-2" mat-button color="warn" (click)="deleteFile(f.id)">Удалить</button>
            </td>
          </tr>
          </tbody>
        </table>

        <mat-action-row class="action-row">
          <mat-form-field appearance="outline" class="example-form-3">
            <mat-label>Файл</mat-label>
            <mat-select [(value)]="file.fileId">
              <mat-option *ngFor="let select of filesInfo; index as i" value="{{select.id}}">
                {{i}} {{select.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button class="example-btn-2" mat-raised-button color="warn"
                  (click)="setFileInfo(); loadMeasurementsInfo();" [disabled]="file.fileId == null">
            Применить
          </button>
        </mat-action-row>
      </mat-expansion-panel>

      <br>

      <mat-expansion-panel [disabled]="!showParams.fileSelected">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Выбор измерений
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-form-field appearance="outline">
          <mat-label>Аналоговые величины</mat-label>
          <mat-select [(ngModel)]="signalNumbers.analog" multiple>
            <mat-option *ngFor="let meas of measurementsInfo.analog"
                        [value]="meas.key.signalNumber">{{meas.number}} {{meas.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Действующие значения</mat-label>
          <mat-select [(ngModel)]="signalNumbers.rms" multiple>
            <mat-option *ngFor="let meas of measurementsInfo.rms"
                        [value]="meas.key.signalNumber">{{meas.number}} {{meas.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Дискретные величины</mat-label>
          <mat-select [(ngModel)]="signalNumbers.digital" multiple>
            <mat-option *ngFor="let meas of measurementsInfo.digital"
                        [value]="meas.key.signalNumber">{{meas.number}} {{meas.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-action-row class="action-row">
          <mat-form-field appearance="outline" class="example-form-2">
            <mat-label>Начало</mat-label>
            <input matInput type="number" step="1" [(ngModel)]="range.start">
          </mat-form-field>
          <mat-form-field appearance="outline" class="example-form">
            <mat-label>Конец</mat-label>
            <input matInput type="number" step="1" [(ngModel)]="range.end">
          </mat-form-field>
          <button class="example-btn-2" mat-raised-button color="warn"
                  (click)="loadData()"
                  [disabled]="((signalNumbers.analog.length == 0) && (signalNumbers.rms.length == 0) && (signalNumbers.digital.length == 0))
                   || range.start > range.end || range.start-range.end > MAX_SIZE">
            Применить
          </button>
        </mat-action-row>
      </mat-expansion-panel>

      <br>

    </mat-tab>
    <mat-tab label="График" [disabled]="!showParams.measSelected">
      <mat-card-content>
        <apx-chart
          [yaxis]="chartOptions.analog.yaxis"
          [series]="chartOptions.analog.series"
          [chart]="chartOptions.analog.chart"
          [title]="chartOptions.analog.title"
          [legend]="chartOptions.analog.legend"

          [dataLabels]="chartOptions.common.dataLabels"
          [markers]="chartOptions.common.markers"
          [stroke]="chartOptions.common.stroke"
          [grid]="chartOptions.common.grid"
          [xaxis]="chartOptions.common.xaxis"
          [tooltip]="chartOptions.common.tooltip"
        ></apx-chart>

        <apx-chart
          [yaxis]="chartOptions.digital.yaxis"
          [series]="chartOptions.digital.series"
          [chart]="chartOptions.digital.chart"
          [title]="chartOptions.digital.title"
          [legend]="chartOptions.digital.legend"

          [dataLabels]="chartOptions.common.dataLabels"
          [markers]="chartOptions.common.markers"
          [stroke]="chartOptions.common.stroke"
          [grid]="chartOptions.common.grid"
          [xaxis]="chartOptions.common.xaxis"
          [tooltip]="chartOptions.common.tooltip"
        ></apx-chart>
      </mat-card-content>
    </mat-tab>


    <mat-tab label="Таблица" [disabled]="!showParams.measSelected">

      <br>

      <mat-paginator class="demo-paginator"
                     (page)="handleTablePageEvent($event)"
                     [length]="tablePage.size"
                     [pageSize]="tablePage.pageSize"
                     [disabled]="false"
                     [showFirstLastButtons]="true"
                     [pageSizeOptions]="tablePage.pageSizeOptions"
                     [hidePageSize]="false"
                     [pageIndex]="tablePage.pageIndex"
                     aria-label="Select page">
      </mat-paginator>

      <br>

      <div *ngIf="showParams.measSelected">
        <table class="table table-bordered table-striped table-hover table-sm">
          <thead class="thead-dark">
          <tr>
            <th *ngFor="let d of tablePage.tablePageData" scope="col">{{d.name}}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let _ of tablePage.tablePageData[0].dataArr; index as i">
            <td *ngFor="let d of tablePage.tablePageData"> {{d.dataArr[i]}} </td>
          </tr>
          </tbody>
        </table>
      </div>

    </mat-tab>

    <mat-tab label="Анализ" [disabled]="!showParams.fileSelected">

      <br>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Выберите токи для анализа</mat-card-title>
        </mat-card-header>

        <br>

        <mat-card-content>

          <mat-form-field appearance="outline">
            <mat-label>Выберете ток фазы A</mat-label>
            <mat-select [(value)]="faultPhaseNumber.phA">
              <mat-option *ngFor="let meas of measurementsInfo.rms"
                          value="{{meas.key.signalNumber}}">{{meas.number}} {{meas.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <br>

          <mat-form-field appearance="outline">
            <mat-label>Выберете ток фазы B</mat-label>
            <mat-select [(value)]="faultPhaseNumber.phB">
              <mat-option *ngFor="let meas of measurementsInfo.rms"
                          value="{{meas.key.signalNumber}}">{{meas.number}} {{meas.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <br>

          <mat-form-field appearance="outline">
            <mat-label>Выберете ток фазы C</mat-label>
            <mat-select [(value)]="faultPhaseNumber.phC">
              <mat-option *ngFor="let meas of measurementsInfo.rms"
                          value="{{meas.key.signalNumber}}">{{meas.number}} {{meas.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <br>

        </mat-card-content>

        <mat-card-actions>
          <mat-form-field appearance="outline" class="example-form">
            <mat-label>Запас</mat-label>
            <input matInput type="number" step="1" min="1" [(ngModel)]="faultPhaseNumber.stock">
            <span matTextSuffix>%</span>
          </mat-form-field>
          <button class="example-btn" mat-raised-button color="warn"
                  [disabled]="!faultPhaseNumber.isValid() || faultPhaseNumber.stock == null"
                  (click)="analise()">
            Применить
          </button>
        </mat-card-actions>
      </mat-card>

      <br>

      <mat-card *ngIf="showParams.measForAnaliseSelected">

        <mat-card-header>
          <mat-card-title>Результат</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-card-content>Время возникновения КЗ: {{faultData.time < 0 ? "не найдено" : getTime(faultData.time) + " с (" + faultData.time + ")"}}</mat-card-content>
          <mat-card-content>Поврежденные фазы: {{faultData.fault == null ? "не найдено" : faultData.fault}}</mat-card-content>
          <mat-card-content>Расчетная уставка: {{faultData.set}}</mat-card-content>

          <br>

          <mat-card>
            <table class="table table-bordered table-hover table-sm">
              <thead>
              <tr>
                <th>Режим</th>
                <th>Время снятия</th>
                <th>Фаза A</th>
                <th>Фаза B</th>
                <th>Фаза C</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let d of [faultData.normalCurrent, faultData.faultCurrent], index as i">
                <td> {{i == 0 ? "Нормальный режим" : "Режим повреждения"}} </td>
                <td> {{d == null ? 0 : getTime(d.time)}} с ({{d == null ? 0 : d.time}})</td>
                <td> {{d == null ? 0 : Math.round(d.phA * 1000) / 1000}} </td>
                <td> {{d == null ? 0 : Math.round(d.phB * 1000) / 1000}} </td>
                <td> {{d == null ? 0 : Math.round(d.phC * 1000) / 1000}} </td>
              </tr>
              </tbody>
            </table>
          </mat-card>
        </mat-card-content>
      </mat-card>
      <br>
    </mat-tab>

    <mat-tab label="Информация" [disabled]="!showParams.fileSelected">
      <br>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Информация</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <mat-card-content><b> Наименование: </b> {{file.fileInfo?.name}} </mat-card-content>
          <mat-card-content><b> Количство точек в периоде: </b> {{file.fileInfo?.n}}</mat-card-content>
          <mat-card-content><b> Частота: </b> {{file.fileInfo?.freq}}</mat-card-content>
          <mat-card-content><b> Количество аналоговых сигналов: </b> {{file.fileInfo?.analog}} </mat-card-content>
          <mat-card-content><b> Количество дискретных сигналов: </b> {{file.fileInfo?.digital}} </mat-card-content>
          <mat-card-content *ngIf="file.fileInfo?.timeStart != null"><b> Время начала: </b> {{file.fileInfo?.timeStart}}
          </mat-card-content>
          <mat-card-content *ngIf="file.fileInfo?.timeEnd != null"><b> Время конца: </b> {{file.fileInfo?.timeEnd}}
          </mat-card-content>
          <mat-card-content><b> Тип файла: </b> {{file.fileInfo?.type}} </mat-card-content>
        </mat-card-content>

      </mat-card>
    </mat-tab>

  </mat-tab-group>
</div>
