<div class="row-md-12">
  <div class="col-md-12">
    <div class="card bg-dark my-3">
      <div class="card-body">
        <h2 class="card-title text-center text-white">{{ title }}</h2>

        <div class="text-center list-inline">

          <li class="list-inline-item">
            <a routerLink="/chart" class="btn btn-info">Chart</a>
          </li>

          <li class="list-inline-item">
            <a routerLink="/upload" class="btn btn-info">Upload</a>
          </li>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>

